<div id="chartPie">
 

    <!-- <canvas id="radar" class="chart chart-radar" 
    chart-data="data" 
    chart-options="options" 
    chart-labels="labels"
    chart-colours="ff8e72">
    </canvas> -->

    <!-- <canvas id="polar-area" class="chart chart-polar-area"
    chart-data="data" chart-labels="labels" chart-options="options">
    </canvas>  -->

    <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels" chart-options="options">
</canvas> 


    <div class="vikarie-profil">
        <h1 style="text-align: center;" class="js-vikarie-profil"></h1>
    </div>
</div>