<div id="wrapper">
    <div class="container main-wrapper">
        <div class="row elem--margin-top front-page-header-box">
            <div class="col-xs-8 col-sm-9 col-md-10">
                <h1>TALANG- <br> KOLLEN</h1>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <img src="img/talangkollen-logo.png">
            </div>
        </div>
        <div class="row elem--margin-top front-page-txt-box">
            <div class="col-xs-12">
                <p>
                    Vilka talanger har du? Vi tror att alla har olika färdigheter och förmågor. Det kallar vi för
                    talang. Gör vårt snabba test
                    Talangkollen och se vilken talangprofil just du har!
                </p>
            </div>
        </div>
        <div class="list-number">
            <div class="row elem--margin-top">
                <div class="col-xs-2 col-sm-1">
                    <p class="elem--round">1</p>
                </div>
                <div class="col-xs-10 col-sm-11">
                    <p class="list-number--margin">Starta talangkollen</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <p class="elem--round">2</p>
                </div>
                <div class="col-xs-10 col-sm-11">
                    <p class="list-number--margin-middle">Svara på frågorna så snabbt du kan</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <p class="elem--round">3</p>
                </div>
                <div class="col-xs-10 col-sm-11">
                    <p class="list-number--margin">Få din unika talangprofil</p>
                </div>
            </div>
        </div>
        <div class="row front-page-button-box elem--margin-top">
            <div class="col-xs-12">
                <a href="#/quiz" class="custom-button">STARTA TALANGKOLLEN</a>
            </div>

        </div>
    </div>
</div>